
.auth-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.input-auth{
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 50px;
    margin: auto;
    background-color: whitesmoke;
    box-sizing: border-box;
    align-items: center;
}
.input-row{
    margin-bottom: 12px;
}
.auth-button{
    display: flex;
    justify-self: center;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 14px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 12px;
}
.auth-button:hover{
    background-color: #0056b3;
}
.auth-subtitle{
    text-align: center;
}
