
.card-title{
    margin: 12px 0 8px;
    color: #333
}
.index-card{
    box-shadow: 0 4px 12px black;
    width: 60%;
    margin: 16px auto;
    padding: 30px;
    background-color: whitesmoke; 
    margin-top: 10px;
    margin-bottom: 20px;
}
.index-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.25);
}
button{
    display: flex;
    justify-self: center;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 14px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 12px;
}
button:hover{
    background-color: #0056b3;
}